<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JQuery Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-white" onclick="window.location.href = '/dashboard.html';">JqueryApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" onclick="window.location.href = '/dashboard.html';" >Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link to-products-btn">Products</a>
            <a class="nav-item nav-link to-videos-btn">Videos</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Settings <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#add-category-modal" data-whatever="@mdo">Add Product Category</button>
                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#add-genre-modal" data-whatever="@mdo">Add Video Genre</button>
                  </div>
                
            </div>          
          </div>
        </div>
        <button class="btn btn-secondary float-right text-white" onclick="window.location.href = '/index.html';"> Log out</button> 
      </nav>
<div class="container">
  <div class="jumbotron"></div>
    
  <div class="card-deck">
    <div class="col-lg-5">
        <div class="card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <p class="card-text">View add, update and delete your Products.</p>
              <a class="btn btn-primary text-white float-right to-products-btn">Go To Products</a>
            </div>
          </div>
    </div>

    <div class="col-lg-1 vertical-line"></div>
        
    <div class="col-lg-6 ">
        <div class="card border-info mb-3">
            <div class="card-body">
              <h5 class="card-title">Videos</h5>
              <p class="card-text">View add, update and delete your Videos.</p>
              <a class="btn btn-primary text-white float-right to-videos-btn">Go To Videos</a>
            </div>
          </div>
    </div>
    <div id="result"></div>
  </div>
      <!-- Footer -->
      <div>&nbsp;</div><div>&nbsp;</div>
      <footer class="fixed-bottom">
          <div class="text-center py-3 bg-dark text-white">© <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script> Copyright Jyoti  
          </div>
        </footer>
      <!-- Footer -->
</div>

<!--Modal add category-->
<div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="add-category-form">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Category Name:</label>
              <input type="text" class="form-control" id="itemCategory">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save-category-button">Save</button>
        </div>
      </div>
    </div>
  </div>


  <!--Modal add genre-->
<div class="modal fade" id="add-genre-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Add New Genre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add-genre-form">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Category Name:</label>
            <input type="text" class="form-control" id="genreItem">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-genre-button">Save</button>
      </div>
    </div>
  </div>
</div>

<script>
  sessionStorage.set(userName, $("#userNames").val());
("result").innerHTML = sessionStorage.get(userName);
</script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>